<Files .htaccess>
order allow,deny
deny from all
</Files>

RewriteEngine on 
RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost [NC] 
RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost.*$ [NC] 
RewriteCond %{HTTP_REFERER} !^http://(www\.)?127.0.0.1 [NC] 
RewriteCond %{HTTP_REFERER} !^http://(www\.)?127.0.0.1.*$ [NC]  
RewriteCond %{HTTP_REFERER} !^https://(www\.)?happypolling.asuscomm.com [NC] 
RewriteCond %{HTTP_REFERER} !^https://(www\.)?happypolling.asuscomm.com.*$ [NC] 
RewriteRule \.(gif|jpg|jpeg|png|mp4)$ - [F]
